[submodule "themes/hugo-primer"]
	path = themes/hugo-primer
	url = https://github.com/dannpopescu/hugo-primer.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = git@github.com:dannpopescu/hugo-bearblog.git
